.apple{
    width: auto;
    height: 40%;
    margin-left: 150px;
    margin-top: auto;
    margin-bottom: 5px;
    margin-right: 0px;
}

.trophy{
    width: auto;
    height: 40%;
    margin-left: 100px;
    margin-right: 0px;
    margin-top: auto;
    margin-bottom: 5px;
}

div{
    display: flex;
}

#snbrd{
    width: 100%;
}

.score{
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
    padding-top: 55px;
    padding-bottom: 30px;
    margin-left: 10px;
}

.highs{
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
    padding-top: 55px;
    padding-bottom: 30px;
    margin-left: 5px;
}

.navi{
    background-color: rgb(123, 106, 106);
    margin-top: 80px;
    height: 100px;
    width: 40%;
    /* margin: 0px 450px 10px 450px; */
    margin-bottom: 10px;
    padding-top: 0px;
    padding-right: 0%;
    padding-left: auto;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #413f3f;
    font-family: Arial, sans-serif;
}

canvas {
    border: 1px solid #000;
}

@media only screen and (max-width: 600px) {
    canvas {
        width: 100vw;
        height: 80vw;
    }
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    font-style: italic;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    background-color: aqua;
    cursor: pointer;
}

#upBtn{
    width: 20%;
}

#leftBtn{
    margin-right: 200px;
    padding: 10px 10px 10px 10px;
}

#downBtn{
    width: 20%;
}
